<div class="container mt-4">
    <h2>Agregar Estado de Préstamo</h2>
    <form>
        <div class="form-group">
            <label for="estado_prestamo">Estado del Préstamo</label>
            <input type="text" class="form-control" id="estado_prestamo" placeholder="Estado del Préstamo">
        </div>
        <div class="form-group">
            <label for="tipo_prestamo">Tipo de Préstamo</label>
            <input type="text" class="form-control" id="tipo_prestamo" placeholder="Tipo de Préstamo">
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/estados/list'">Cancelar</button>
        </div>
    </form>
</div>

